/* float setting */
.float_left{
    float: left;

}

.float_right{
    float: right;
}

.clear_float:after{
    content: '';
    clear: both;
    display: block;
}

/* container and .container-fluid */
.container{
    width:1080px;
    margin:0 auto;
    position: relative;
}

.container-fluid{
    width: 100%;
}


/* navigation bar  */
.nav  {
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color:rgba(255,255,255,0.8);
}
.nav li{
    margin-left: 58px;
}

.nav_menu{
    line-height: 81px;
    font-size: 14px;
}

.nav_logo{
    width: 162px;
    height: 44px;
}

.nav{
    height: 81px;
}
.nav_fill{
    height: 81px;
}

/* nav end */

/*  footer start */
.footer{
    background-color: #66c5b4;
    height: 220px;
    font-size: 12px;
    overflow: hidden;
}

.footer .container:nth-of-type(1){
    height: 55px;
    color: white;
    line-height: 55px;
}

.footer .container:nth-of-type(1) a{
    color: white;
    margin:0 18px;
}


.footer .container:nth-child(2){
    width: 100%;
    background-color:white;
    height: 150px;
    color: #888;
    overflow: hidden;
}


.footer .container:nth-child(2) p{
    display: block;
    width: 1080px;
    margin: 0 auto;
    margin-top: 50px ;
    font-size: 12px;
    line-height: 30px;
    text-align: left;

}



/* footer end */