.float_left{
    float: left;

}

.float_right{
    float: right;
}

.clear_float:after{
    content: '';
    clear: both;
    display: block;
}

.container{
    width:1080px;
    margin:0 auto;
    position: relative;
}

.container-fluid{
    width: 100%;
}

.nav li{
    margin-left: 58px;
}

.nav_menu{
    line-height: 81px;
    font-size: 14px;
}

.nav_logo{
    width: 162px;
    height: 44px;
}

.nav{
    height: 81px;
}