/* banner */
.banner{
    position: relative;
}


.banner_list a{
    display: block;
    width: 1500px;
    height: 500px;
    margin: 0 auto;
}

.banner_list li{
    width: 100%;
    height: 500px;

}
.banner_list{
    position: relative;
}

.banner_1st{
    background-repeat: no-repeat;
    background-position: center 0;
    background-image: url(./img/banner1.jpg);

}


.banner_btn{
    width: 11px;
    height: 11px;
    margin-left: 5px;
    display: inline-block;
    border:2px solid white;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}


.banner_btn-list{
    width: 100px;
    height: 20px;
    position: absolute; 
    bottom: 20px;
    left: 900px;
}

.banner_btn-list .active{
    background-color:white;
}

.service_box{
    overflow: hidden;
    min-height: 408px;
}

.title_bg{
    width: 350px;
    height: 50px;
    margin: 20px auto;
    position: relative;
    margin-top: 61px;
    text-align: center;
}

.title_bg-text{
    position: absolute;
    left:130px;
    bottom: 24px;
    color: #363636;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
}

.title_bg span{
    display: block;
    margin-left: 118px;
    color: #9F9F9F;
    font-size: 14px;
    height: 34px;
    width: 106px;
}

/* service - box */

.service_list{
    position: relative;
    color: #646464;
    font-size: 16px;
    margin-top: 34px;
}

.service_box-items{
    width: 250px;
    height: 244px;
    margin-left: 20px;
}

.service_box-items img,h3,p{
    margin-bottom: 5px;
    text-align: center;   
}

.service_box-items img{
    display: block;
    margin: 5px auto ;
    height: 102px;
    width: 102px;
    margin-bottom: 24px;
}

.service_box-items p{
    color: #6D6D6D;
    font-size: 14px;
    line-height: 22px;
}
.service_box-items h3{
    color: #434343;
    font-size: 18px;
    line-height: 36px;
}

/* case-box */
.case_box{
    background-color:#F8F8F8;
    min-height: 462px;
    overflow: hidden;
}
.case_title{
    margin-top: 55px;
    text-align: center;
    background: url(./img/titbg.jpg) no-repeat  center -5px;

}
.case_title h2{
    color: #66c5b4;
    font-size: 20px;
    line-height: 21px;
    
}
.case_title p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #9d9d9d;
    line-height: 34px;
}
.case_list{
    margin-top: 28px;
}
.case_list li{
    margin-right: 15px;
    width: 340px;
}

.case_btn{
    width: 176px;
    height: 38px;
    border-radius: 20px;
    background-color:#66C5B4;
    margin: 0 auto;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    margin-top: 36px;
}
.case_btn a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}
/* news box */
.news_box{
    min-height: 415px;
    overflow: hidden;
}

.news_box .case_title{
    margin-bottom: 50px;
}

.news_img{
    width: 250px;
    height: 200px;
    background-size: 234px 196px;
    background: url(./img/xs1.jpg) no-repeat 0 0;
}

.news_list{
    overflow: hidden;
}
.news_list  a{
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}
.news_list a:hover{
    text-decoration: underline;
}

.news_list p{
    font-size: 12px;
    color: #a9a9a9;
}
.news_list h4{
    font-size: 36px;
    color: #66c5b4;
    font-weight: normal;

}

.news_list h5{
    font-size: 18px;
    color: #66c5b4;
    font-weight: normal;
}

.news_list li{
    margin-bottom: 14px;
}

.news_box .date{
    width:55px;
    height: 75px;
    border-right: 1px solid #66c5b4;;
    margin-right: 5px;
}



/* footer box */