*{
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
}

.main{
    padding-top: 50px;
    padding-left: 50px;
}

.main div{
    width:50px;
    border: 1px solid black;
    position: relative;
}

.main li{
    width:50px;
    border: 1px solid black;
}

.main ul{
    position: absolute;
    top:19px;
    left: -1px;
    background: white;
    display: none;
}
.main li:hover{
    background: grey;
}

.main div:hover{
    background-color: grey;
}

.main div:hover ul{
    display: block;
}

