*{
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
}

.main{
    padding-top: 50px;
    padding-left: 50px;
}

.main div{
    width:50px;
    border: 1px solid black;
    position: relative;
}

.main li{
    width:42px;
    border: 1px solid black;
    padding-left: 8px;
    position: relative;
}

.main li:before{
    content: '';
    background-color: red;
    display: inline-block;
    width: 5px;
    height: 5px;
    position: absolute;
    top:5px;
    left:-1px;
    margin: 1px 3px;
    
    
}

.main ul{
    position: absolute;
    top:19px;
    left: -1px;
    background: white;
    display: none;
}
.main li:hover{
    background: grey;
}

.main div:hover{
    background-color: grey;
}

.main div:hover ul{
    display: block;
}

#list_1:hover #aa{
    display: block;
}

#aa{
    position: absolute;
    left:51px;
    top:-1px;
    display: none;
}

#aa li{
    width: 20px;
}

#bg{
    width: 300px;
    height: 250px;
    margin-left: 30px;
    margin-top: 100px;
}   


#pic{
    position: relative;
}
#pic div{   
    position: absolute;
    left:40px;
    bottom: 200px;
    color: yellow;
    background-color: black;
}