#heidou{
width: 2560px;
height:1440px;
background-image: url(./img/46D26149-7442-492B-B2DF-E3AAE7BAE637.JPG);
background-repeat: no-repeat;
background-attachment: fixed;
font-size: xx-large;
}
#xiaohu{
width: 2560px;
height:1440px;
background-image: url(./img/308F8F7B-40C8-419D-9066-E73330636ED4.JPG);   
background-repeat: no-repeat; 
background-attachment: fixed;
font-size: xx-large;
}
#soxie{
width: 2560px;
height:1440px;
background-image: url(./img/IMG_6653.JPG);
background-repeat: no-repeat;
background-attachment: fixed;
font-size: xx-large;
}