//zhushi yixia
/* zhu
shi 
yi
xia */
/*  */
/*  */
/*  */


$banner_width: 50px;

.banner{
    height: $banner_width;
}
/*  */
/*  */
/*  */

$background:background-color;
.box2{
    #{$background}:red;
}
/*  */
/*  */
/*  */


$height:100px;

$height:200px;
$height:222px;

.d4c{
   
    height: $height;
    $height:300px;
}

.d5c{
    $height:138px;
    height: $height;
}

.ddc{
    list-style: square;
    div{
        list-style: square;
        &:active{list-style: none;}
    }
    ul{
        li{
            p{list-style: square;}
        }
    }
}
/* 0 */
/* 0 */
/* 0 */
/* 0 */

.bbox {
    font : {
        size: 11px;
        family:red;
        weight: normal;
    }
}

