// 1
// 2
// 3
/* 1
2
3
 */
/*  */
/*  */
/*  */
 @general_font_size:100px;

 .box{  
     width: @general_font_size;
 }

 /*  */
/*  */
/*  */

@height: height;

.box2{
    @{height}:100px;
}
/*  */
/*  */
/*  */