// 1
// 2
// 3
/* 1
2
3
 */
/*  */
/*  */
/*  */
 @general_font_size:100px;

 .box{  
     width: @general_font_size;
 }

 /*  */
/*  */
/*  */

@height: height;

.box2{
    @{height}:100px;
}
/*  */
/*  */
/*  */

@width:100px;

.dd{
   
    @width:120px;
    width: @width;

    @width:330px;

}
/*  */
/*  */
/*  */

.div{    
    list-style: none;
    nav{
        list-style: none;
    }
    ul{
        list-style: none;
        li{ list-style: none;}
        li{ list-style: none;}
        li{ list-style: none;}
        li{ list-style: none;
            &:hover{list-style: none;}
        }
    }
}

