//zhushi yixia
/* zhu
shi 
yi
xia */
/*  */
/*  */
/*  */


$banner_width: 50px;

.banner{
    height: $banner_width;
}
/*  */
/*  */
/*  */

$background:background-color;
.box2{
    #{$background}:red;
}
/*  */
/*  */
/*  */


$height:100px;

$height:200px;
$height:222px;

.d4c{
   
    height: $height;
    $height:300px;
}

.d5c{
    $height:138px;
    height: $height;
}

.ddc{
    list-style: square;
    div{
        list-style: square;
        &:active{list-style: none;}
    }
    ul{
        li{
            p{list-style: square;}
        }
    }
}
/* 0 */
/* 0 */
/* 0 */
/* 0 */

.bbox {
    font : {
        size: 11px;
        family:red;
        weight: normal;
    }
}



@mixin name{
    display: inline;
}

@mixin chuacan($number) {
    color:$number;
}
.what{
    @include name;
    @include chuacan(red);
}
/*  */
/*  */
/*  */
/*  */
.line{
    display: inline;
}

.box8{
    @extend .line;
}

.box9{
    background-color: red;
    @extend .line;
}
/*  */
/*  */
/*  */
/*  */
%line1{
    display: inline;
}

.box8{
    @extend %line1;
}

.box9{
    background-color: red;
    @extend %line1;
}

$background : (
			a  : url(1.png),
			b  : url(2.png)
);

.box10{
	background: map-values($background);
}

$transform : (
	a : scale(2),
	b : rotate(90deg)
);

.box11{
		transform:   zip(map-values($transform)...);
}

.cbox{
    width:100px;
    @media all and (min-width : 768px ){
      width : 600px;
    }
    @media all  and (min-width : 1440px ){
      width : 900px;
    }
  }