/* basic settings */
*{
    margin: 0;
    padding: 0;
}


img{
    display: block;
}

html,body{
    height: 100%;
}

ul li{
    list-style: none;
}

/* play btn */

.play{ 
    margin: 100px auto;
    width: 124px;
    height: 124px;
    background: url('./img/play_btn.png');
    position: relative;
}
.play_info{
    width:124px;
    height:124px;
    background: black;
    font-size:28px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    top:124px;
    left:0px;
    display: none;
}

.play_info:hover span{
    color: yellow;
}

.play_info span{
    display: block;
    width: 124px;
    height: 28px;
    padding-top: 50px;
}

.play:hover .play_info{
    display: block;
}

.list{
    width: 100%;
    min-height: 1000px;
    background-color: bisque;
}

ul{
    width: 900px;
    height: 500px;
    border: 1px black solid;
    margin-left: 100px;
}

li{
    width: 250px;
    height: 250px;
    border: 1px black solid;
    margin-left: 20px;
    float: left;
    position: relative;
    overflow: hidden;
}

.list li:nth-of-type(1){
    background:url('./img/1.jpeg') no-repeat;
    background-size: contain;
}
.list li:nth-of-type(2){
    background:url('./img/2.jpeg') no-repeat;
    background-size: contain;
}
.list li:nth-of-type(3){
    background:url('./img/3.jpeg') no-repeat;
    background-size: contain;
}
.list li:nth-of-type(4){
    background:url('./img/4.jpeg') no-repeat;
    background-size: contain;
}
.list li:nth-of-type(5){
    background:url('./img/5.jpeg') no-repeat;
    background-size: contain;
}
.list li:nth-of-type(6){
    background:url('./img/6.jpeg') no-repeat;
    background-size: contain;
}

.cover{
    width:252px;
    height: 252px;
    background-color: rgb(0,0,0,0.5);
    position: absolute;
    top:-252px;
    left:0;
    transition: 1s;
}

.cover span{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    line-height: 252px;
}

.list li:nth-of-type(1):hover .cover{
  
    transform:translate(0,252px);
}
.list li:nth-of-type(2):hover .cover{
   
    transform:translate(0,252px);
}
.list li:nth-of-type(3):hover .cover{
   
    transform:translate(0,252px);
}
.list li:nth-of-type(4):hover .cover{
  
    transform:translate(0,252px);
}
.list li:nth-of-type(5):hover .cover{

    transform:translate(0,252px);
}
.list li:nth-of-type(6):hover .cover{

    transform:translate(0,252px);
}
.a{
    width: 300px; height: 100px; background-color: red;
    opacity: 0.2; 
    transition: 1s;
}
.a:hover{
    transform:rotate(45deg);
}

.b{
    width: 300px; height: 100px; background-color: red; 
    opacity: 0.2; 
    transition: 1s;
}
.b:hover{
    transform:rotate(45deg);
}

.tubiao{
    width: 124px;
    height: 124px;
}
.tubiao:hover img{
    animation: move 1s;
}

@keyframes move{
    0%{transform: translate(0,0); opacity: 1;}
    50%{transform: translate(0,-25px); opacity: 0;}
    51%{transform: translate(0,25px); opacity: 0;}
    100%{transform: translate(0,0);opacity: 1;}
}