.header{
    width: 100%;
    height: 80px;
    border-top: 5px solid #424147;
    background:#018ffb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .header_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .header_logo img{
    width: 49px;
}

.header .header_logo span{
    margin-left: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #ffff;
}



.header .header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.header .header_nav li{
    margin-right: 25px;
    /* position: relative;
    top:-10px; */
}
.header .header_nav li i{
    font-size: 24px;
    margin-right: 8px;
}

/* welcome */
.header .header_nav li:nth-of-type(1){
    
}
/* pasword forget */
.header .header_nav li:nth-of-type(2){
    
}

/* homepage */
.header .header_nav li:nth-of-type(3){
    
}


/* exit */
.header .header_nav li:nth-of-type(4){
    
}

.header .header_nav .icon-chexiao{
    display: inline-block;
    transform:rotateY(180deg);
}

/* main  */
.main{
    height: calc(100% - 85px);
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.main aside{
    height: 100%;
    width: 300px;
    background-color: grey;
}
.main aside ul li{
    width:300px;
    height: 250px;
    transition: 0.5s;
}

.main aside ul li i{
   transition: .5s;
}

.main aside ul li:hover i{
    transform: scale(1.2);
}

.main aside ul li:hover {
    background-color: lightgrey;
}
    

.main section{
    height: 100%;
    flex-grow: 1;
    /* background-color:lightblue; */
}

.main aside li{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.main aside li .icon-ziliao{
    font-size:50px;
}

.main aside li .icon-tongxunlu{
    font-size:50px;
}
.main aside li .icon-shezhi{
    font-size:50px;
}

.main .main_container{
    height: calc(100%  - 50px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.main #footer{
    border-top:  1px solid #dbe7ed;
    height: 49px;
    background: #f1f9fc;
    color:#8888;
    font-size: 12px;
    text-align: right;
}

.main #footer span{
    margin-right: 20px;
    line-height: 49px;
}

.main_container .project_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 13px;
}

.project_title .project_title_details {
    margin: 21px 0 0 22px;
}

.project_title .project_title_details i{
    font-size: 22px;
    color:#333333;
    margin-left:18px;
}

.project_title .project_title_details h2{
    font-size: 24px;
    color: #333333;
    line-height: 25px;
}
.project_title .project_title_details p{
    font-size: 14px;
    color: #333333;
    line-height: 30px;
}

.project_title .project_title_pic {
    margin: 20px 20px 0 0;
}

.project_title .project_title_pic img{
    width: 200px;
    height: 149px;
}


.main_container .project_info{
    flex-grow: 1;
    width: 100%;
}

/* project informations buttons */

.project_info .project_info_btns{
    height: 56px;
    background-color:  #dacfdf;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.project_info .project_info_btns ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 58px;
    align-items: center;
    width:600px;
    margin-top: 7px;
}

.project_info .project_info_btns li{
    height: 40px;
    width: 110px;
    background-color: #fbfeff;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    color: #666666;
    border: 1px solid black;
    border-bottom: none;
    line-height: 40px;
    text-align: center;
}

/* .project_info .project_info_btns ul::after{
    display: block;
    content: " ";
    height: 40px;
    width: 300px;
    background-color: transparent;
} */

.project_info .project_info_btns li.active{
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

.project_info .project_info_btns .active::after{
    display: block;
    content: " ";
    background: url('../imgs/a.png') no-repeat; 
    /* opacity: 0.8; */
    /* border: 1px solid black; */
    /* background-color: red; */
    background-size: contain;
	width: 20px;
    height: 30px;
    position: relative;
    transform: rotate(90deg);
    top:-5px;
    left:35%;
}

/* project contents */
.project_info_contents{}   

.project_info_contents>div{
    display: none;
}

.project_info_contents div.show{
    display: block;

}

.project_info_contents .project_info_submit1 input{
   display: none;
}

.project_info_contents .project_info_submit2 input{
    display: none;
}

.project_info_contents .project_info_submit1{
    width: 170px;
    height: 30px;
    font-size: 14px;
    color: white;
    background-color: #93d615;
    border-radius: 5px;
    margin:0 20px 0 20px;
    
}

.project_info_contents .project_info_submit1 label{
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}



.project_info_contents .project_info_submit2{
    width: 170px;
    height: 30px;
    font-size: 14px;
    color: white;
    background-color: #0f2480;
    border-radius: 5px;
}

.project_info_contents .project_info_submit2 label{
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}   


.project_info_contents .project_info_search{
    width: 100px;
    height: 30px;
    border:1px black solid;
}

