.header{
    width: 100%;
    height: 80px;
    border-top: 5px solid #424147;
    background:#018ffb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .header_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .header_logo img{
    width: 49px;
}

.header .header_logo span{
    margin-left: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #ffff;
}



.header .header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.header .header_nav li{
    margin-right: 25px;
    /* position: relative;
    top:-10px; */
}
.header .header_nav li i{
    font-size: 24px;
    margin-right: 8px;
}

/* welcome */
.header .header_nav li:nth-of-type(1){
    
}
/* pasword forget */
.header .header_nav li:nth-of-type(2){
    
}

/* homepage */
.header .header_nav li:nth-of-type(3){
    
}


/* exit */
.header .header_nav li:nth-of-type(4){
    
}

.header .header_nav .icon-chexiao{
    display: inline-block;
    transform:rotateY(180deg);
}

/* main  */
.main{
    height: calc(100% - 85px);
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.main aside{
    height: 100%;
    width: 300px;
    background-color: grey;
}
.main aside ul li{
    width:300px;
    height: 250px;
    transition: 0.5s;
}

.main aside ul li i{
   transition: .5s;
}

.main aside ul li:hover i{
    transform: scale(1.2);
}

.main aside ul li:hover {
    background-color: lightgrey;
}
    

.main section{
    height: 100%;
    flex-grow: 1;
    background-color:lightblue;
}

.main aside li{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.main aside li .icon-ziliao{
    font-size:50px;
}

.main aside li .icon-tongxunlu{
    font-size:50px;
}
.main aside li .icon-shezhi{
    font-size:50px;
}

.main .main_container{
    height: calc(100%  - 50px);
    overflow: auto;
}

.main #footer{
    border-top:  1px solid #dbe7ed;
    height: 49px;
    background: #f1f9fc;
    color:#8888;
    font-size: 12px;
    text-align: right;
}

.main #footer span{
    margin-right: 20px;
    line-height: 49px;
}