/* main = nav + banner */
/* main  nav start here */

.main{
    min-height: 750px;
    overflow: hidden;
    background: url(./img/ia_100000044.jpg) no-repeat center 0;
}

.main .nav{
    overflow: hidden;
    position: relative;
}
.main  .nav .nav_header{
    height: 236px;
    background:url(./img/nav_down_re.png) repeat-x ,url(./img/ia_100000045.png) no-repeat; 
}

.main  .nav .nav_header a{
    display: block;
    width: 90px;
    height: 63px;
    text-indent: -99999px;
    overflow: hidden;
    margin-left: 440px;
}

.main  .nav .nav_logo{
    width: 138px;
    height: 112px;
    position: absolute;
    top: 14px;
    left: 47%;
}

.main  .nav .nav_logo a{
    display: block;
    width:100% ;
    height: 100%;
}

.main .nav .nav_list{
    position: absolute;
    top:70px;
    left:580px;
}

.main .nav .nav_list li{
    width: 108px;
    height: 26px;
}


.main .nav .nav_list ul:nth-of-type(4){
    margin-left:152px;
}

.main .nav .nav_list li:hover a{
    text-decoration: underline;
    color: red;
}


.main .nav .nav_list a{
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: white;
}


.main .nav .nav_list li .nav_icon_h{
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url(./img/ia_100000106.png) no-repeat 0 -13px;
}

.main .nav .nav_list li .nav_icon_n{
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url(./img/ia_100000106.png) no-repeat 0 0;

}
/*  nav  bar end */

/* main ad start  */

.main .ad_link{
    width: 463px;
    height: 190px;
}

.main .ad_link a{
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -99999em;
    overflow: hidden;
}

/* main ad link end */

/* banner  start */
.main .banner{
    background: url(./img/ia_100000077.png) no-repeat 0 0;
	width: 976px;
    height: 276px;
    overflow: visible;
}
.main .banner_left{
    position: relative;
    width: 247px;
}
.main .banner .banner_left .banner_left_download{
    background: url(./img/ia_100000085.png) no-repeat 0 0;
	width: 242px;
    height: 128px;
    margin-top: -20px;
    margin-left: 5px;
    overflow: hidden;
}

.main .banner .banner_left .banner_left_login{
    background: url(./img/ia_100000085.png) no-repeat -2px -129px;;
	width: 238px;
    height: 184px;  
    margin-left: 5px;
}

.main .banner .banner_left .banner_left_download div{
    margin-top: 45px; 
}


.main .banner .banner_left .banner_left_download a{
    display: block;
    margin: 0 auto;
}

.banner .banner_left .banner_left_download a:nth-of-type(1){
    background: url(./img/ia_100000085.png) no-repeat -254px -1px;
	width: 90px;
    height: 23px;
    margin-bottom: 5px;
}


.banner .banner_left .banner_left_download a:nth-of-type(2){
    background: url(./img/ia_100000085.png) no-repeat -262px -33px;
	width: 76px;
	height: 11px;
    
}

/* css3 animation for Download Text*/

.banner_left .banner_left_download a:nth-of-type(1){
    animation: 1s MoveDown;
}


@keyframes MoveDown{
    0%{ transform: translateY(-40px); opacity: 0;}
    100%{ transform: translateY(0); opacity: 1; }
}


.banner_left .banner_left_download a:nth-of-type(2){
    animation: 1s MoveUp;
}


@keyframes MoveUp{
    0%{ transform: translateY(40px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

/* css3 animation for Download Text END*/

.banner .banner_left .banner_left_login{
    color: #E0E4FF;
    font-size:12px;
    overflow: hidden;
}

.banner_left .banner_left_login div:nth-of-type(1){
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 4px solid #283257;
        overflow: hidden;
        margin-top: 30px;
        margin-left: 95px;
}

.banner .banner_left .banner_left_login a{
    color:#4DFFDB;
    font-size: 12px;
}
.banner_left .banner_left_login p{
    text-align: center;
    margin-top: 20px;
}
/* banner-left end */

/* banner-center */

.banner .banner_center .banner_center_list ul{
    width: 500px;
    height: 255px;
    overflow: hidden;
}

.banner .banner_center .banner_center_list li{
    width: 497px;
    height: 253px;
    float: left;
    margin-left: 6px;
    margin-top: 14px;

}

.banner .banner_center{
    position: relative;
}
.banner .banner_center .banner_center_btn{
    width: 497px ;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 6px;
    position: absolute;
    bottom: -15px;
}

.banner .banner_center .banner_center_btn ul{
    width: 450px;
    text-align: center;
}

.banner .banner_center .banner_center_btn li{
    width: 15px;
    height: 15px;
    background: url(./img/ia_100000077.png) no-repeat -603px -299px;
    display: inline-block;
    margin-top: 15px;
}

.banner .banner_center .banner_center_btn a:nth-of-type(1){
    background: url(./img/ia_100000077.png) no-repeat -541px -297px;
	width: 12px;
	height: 22px;
    position: absolute;
    top: 10px;
}
.banner .banner_center .banner_center_btn a:nth-of-type(1):hover{
    background: url(./img/ia_100000077.png) no-repeat -541px -326px;
}

.banner .banner_center .banner_center_btn a:nth-of-type(2){
    background: url(./img/ia_100000077.png) no-repeat -554px -297px;
	width: 12px;
    height: 22px;
    position: absolute;
    top: 10px;
}

.banner .banner_center .banner_center_btn a:nth-of-type(2):hover{
    background: url(./img/ia_100000077.png) no-repeat -554px -326px;
}

.banner .banner_center .banner_center_cover-topleft{
    background: url(./img/ia_100000077.png) no-repeat -621px -299px;
	width: 12px;
    height: 12px;
    position: absolute;
    top:8px;
    left:0px;
}
.banner .banner_center .banner_center_cover-topright{
    background: url(./img/ia_100000077.png) no-repeat -634px -299px;
	width: 12px;
    height: 12px;
    position: absolute;
    top:11px;
    right:-4px;
}
.banner .banner_center .banner_center_cover-bottomleft{
    background: url(./img/ia_100000077.png) no-repeat -621px -312px;
	width: 12px;
    height: 12px;
    position: absolute;
    bottom:-15px;
    left:2px;
    
}
.banner .banner_center .banner_center_cover-bottomright{
    background: url(./img/ia_100000077.png) no-repeat -634px -312px;
	width: 12px;
    height: 12px;
    position: absolute;
    bottom:-15px;
    right:-3px;
}
/* banner-center end */

/* banner-right start */

.banner .banner_right{
    margin-top: 14px;
    margin-left: 12px;
}
/* banner-right end */

/* second-main start here */
 .second-main{
    
}

/* second-main_left start here */
.second-main .second-main_left{
    width: 228px;
    min-height: 830px;
    background-color: red;
    overflow: hidden;
}


.second-main .second-main_left .second-main_left_top{
    background: url(./img/ia_100000120.png) no-repeat 0 0;
	width: 228px;
	height: 17px;
}

.second-main .second-main_left .second-main_left_1{
    width: 208px;
    height: 120px;
    background-color: blueviolet;
    margin: 0 auto;
    overflow: hidden;
}

.second-main .second-main_left .second-main_left_1 div a{
    display: block;
    width: 100%;
    height: 100%;
}

.second-main .second-main_left .second-main_left_1 div:nth-of-type(1){
    background: url(./img/ia_100000120.png) no-repeat 0 -137px;
	width: 207px;
    height: 57px;
    margin-bottom: 8px;
}

.second-main .second-main_left .second-main_left_1 div:nth-of-type(2){
    background: url(./img/ia_100000120.png) no-repeat 0 -200px;
	width: 207px;
	height: 57px;
}

.second-main .second-main_left .second-main_left_2{
    min-height: 88px;
    width: 208px;
    margin: 10px auto;
    background-color: #EFEFF1;
}

.second-main .second-main_left .second-main_left_3{
    min-height: 224px;
    width: 208px;
    margin: 10px auto;
    background-color: #EFEFF1;
}

.second-main .second-main_left .second-main_left_4{
    background: url(./img/ia_100000120.png) no-repeat 0 -40px;
	width: 228px;
    height: 63px;
    margin: 10px auto;
}

.second-main .second-main_left .second-main_left_5{
    background-color: #EFEFF1;
	width: 208px;
    height: 156px;
    margin: 10px auto;
}

.second-main .second-main_left .second-main_left_6{
    background: url(./img/ia_100000120.png) no-repeat 0 -306px;
	width: 205px;
	height: 46px;
    margin: 10px auto;
}
.second-main .second-main_left .second-main_left_7{
    background: url(./img/ia_100000120.png) no-repeat 0 -354px;
	width: 206px;
	height: 38px;
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
    line-height: 38px;
}

.second-main .second-main_left .second-main_left_8{
    background: url(./img/ia_100000120.png) no-repeat 0 -354px;
	width: 206px;
	height: 38px;
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
    line-height: 38px;
}

.second-main .second-main_left .second-main_left_bottom{
    background: url(./img/ia_100000120.png) no-repeat 0 0;
	width: 228px;
    height: 17px;
    transform: rotate(180deg);
}
/* second-main_left END */

/* second-main_right start here */
 .second-main .second-main_right{
    width: 752px;
    min-height: 830px;
    background-color: blue;
    overflow: hidden;
}

.second-main_right_newsactivity{
    height: 273px;
    background-color:gold;
    margin-bottom: 10px;

}
.second-main_right_eventsversion{
    height: 273px;
    background-color: black;
    margin-bottom: 10px;
}
.second-main_right_video{
    height: 246px;
    background-color: brown;
    margin-bottom: 10px;
}

.second-main_right_newsactivity .newsactivity_news{
    background-color: beige;
    width: 478px;
    height: 273px;
}
/* the title of news */
.second-main_right_newsactivity .newsactivity_news div:nth-of-type(1){
    background: url(./img/ia_100000156.png) no-repeat 0 0;
	width: 478px;
	height: 20px;
    padding-bottom: 10px;
}

/* the content of news */
.second-main_right_newsactivity .newsactivity_news div:nth-of-type(2){
    width: 478px;
    height: 240px;
    background-color: white;
    overflow: hidden;

}

.second-main_right_newsactivity .newsactivity_news video{
    width: 100%;
}

.second-main_right_newsactivity .newsactivity_activity{
    background-color: beige;
    width: 212px;
    height: 273px;
    margin-left: 10px;
}

/* the title of activity */
.second-main_right_newsactivity .newsactivity_activity div:nth-of-type(1){
    background: url(./img/ia_100000156.png) no-repeat 0 -31px;
	height: 20px;
    width: 212px;
}
/* the content of activity */
.second-main_right_newsactivity .newsactivity_activity div:nth-of-type(2){
    width: 212px;
    height: 184px ;
    background-color: white;
    
}


.second-main_right_eventsversion .eventsversion_events{
    background-color: beige;
    width: 478px;
    height: 273px;
}

/* the title of the events */
.second-main_right_eventsversion .eventsversion_events div:nth-of-type(1){
    background: url(./img/ia_100000156.png) no-repeat 0 -60px;
	width: 478px;
	height: 20px;
}

/* the content of the events */
.second-main_right_eventsversion .eventsversion_events div:nth-of-type(2){
    width: 478px;
    height: 184px;
    background-color: white;

}


.second-main_right_eventsversion .eventsversion_version{
    background-color: beige;
    width: 212px;
    height: 273px;
    margin-left: 10px;
    
}
/* the title of version */
.second-main_right_eventsversion .eventsversion_version div:nth-of-type(1){
    background: url(./img/ia_100000156.png) no-repeat 0 -187px;
	height: 20px;
    width: 212px;

}
/* the content of version */
.second-main_right_eventsversion .eventsversion_version div:nth-of-type(2){
    width: 212px;
    height: 184px ;
    background-color: white;
    
}


/* second-main_right END */

/* second-main start here */