/* main = nav + banner */
/* main  nav start here */

.main{
    min-height: 800px;
    overflow: hidden;
    background: url(./img/ia_100000044.jpg) no-repeat center 0;
}

.main .nav{
    overflow: hidden;
    position: relative;
}
.main  .nav .nav_header{
    height: 236px;
    background:url(./img/nav_down_re.png) repeat-x ,url(./img/ia_100000045.png) no-repeat; 
}

.main  .nav .nav_header a{
    display: block;
    width: 90px;
    height: 63px;
    text-indent: -99999px;
    overflow: hidden;
    margin-left: 440px;
}

.main  .nav .nav_logo{
    width: 138px;
    height: 112px;
    position: absolute;
    top: 14px;
    left: 47%;
}

.main  .nav .nav_logo a{
    display: block;
    width:100% ;
    height: 100%;
}

.main .nav .nav_list{
    position: absolute;
    top:70px;
    left:580px;
}

.main .nav .nav_list li{
    width: 108px;
    height: 26px;
}


.main .nav .nav_list ul:nth-of-type(4){
    margin-left:152px;
}

.main .nav .nav_list li:hover a{
    text-decoration: underline;
    color: red;
}


.main .nav .nav_list a{
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: white;
}


.main .nav .nav_list li .nav_icon_h{
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url(./img/ia_100000106.png) no-repeat 0 -13px;
}

.main .nav .nav_list li .nav_icon_n{
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url(./img/ia_100000106.png) no-repeat 0 0;

}
/*  nav  bar end */

/* main ad start  */

.main .ad_link{
    width: 463px;
    height: 190px;
}

.main .ad_link a{
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -99999em;
    overflow: hidden;
}

/* main ad link end */

/* banner  start */
.main .banner{
    background: url(./img/ia_100000077.png) no-repeat 0 0;
	width: 976px;
    height: 276px;
    overflow: visible;
}
.main .banner_left{
    position: relative;
    width: 247px;
}
.main .banner .banner_left .banner_left_download{
    background: url(./img/ia_100000085.png) no-repeat 0 0;
	width: 242px;
    height: 128px;
    margin-top: -20px;
    margin-left: 5px;
    overflow: hidden;
}

.main .banner .banner_left .banner_left_login{
    background: url(./img/ia_100000085.png) no-repeat -2px -129px;;
	width: 238px;
    height: 184px;  
    margin-left: 5px;
}

.main .banner .banner_left .banner_left_download div{
    margin-top: 45px; 
}


.main .banner .banner_left .banner_left_download a{
    display: block;
    margin: 0 auto;
}

.banner .banner_left .banner_left_download a:nth-of-type(1){
    background: url(./img/ia_100000085.png) no-repeat -254px -1px;
	width: 90px;
    height: 23px;
    margin-bottom: 5px;
}


.banner .banner_left .banner_left_download a:nth-of-type(2){
    background: url(./img/ia_100000085.png) no-repeat -262px -33px;
	width: 76px;
	height: 11px;
    
}

/* css3 animation for Download Text*/

.banner_left .banner_left_download a:nth-of-type(1){
    animation: 1s MoveDown;
}


@keyframes MoveDown{
    0%{ transform: translateY(-40px); opacity: 0;}
    100%{ transform: translateY(0); opacity: 1; }
}


.banner_left .banner_left_download a:nth-of-type(2){
    animation: 1s MoveUp;
}


@keyframes MoveUp{
    0%{ transform: translateY(40px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

/* css3 animation for Download Text END*/

.banner .banner_left .banner_left_login{
    color: #E0E4FF;
    font-size:12px;
    overflow: hidden;
}

.banner_left .banner_left_login div:nth-of-type(1){
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 4px solid #283257;
        overflow: hidden;
        margin-top: 30px;
        margin-left: 95px;
}

.banner .banner_left .banner_left_login a{
    color:#4DFFDB;
    font-size: 12px;
}
.banner_left .banner_left_login p{
    text-align: center;
    margin-top: 20px;
}
/* banner-left end */

/* banner-center */

.banner .banner_center .banner_center_list ul{
    width: 500px;
    height: 255px;
    overflow: hidden;
}

.banner .banner_center .banner_center_list li{
    width: 497px;
    height: 253px;
    float: left;
    margin-left: 6px;
    margin-top: 14px;

}

.banner .banner_center{
    position: relative;
}
.banner .banner_center .banner_center_btn{
    width: 497px ;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 6px;
    position: absolute;
    bottom: -10px;
}

.banner .banner_center .banner_center_btn ul{
    width: 450px;
    text-align: center;
}

.banner .banner_center .banner_center_btn li{
    width: 15px;
    height: 15px;
    background: url(./img/ia_100000077.png) no-repeat -603px -299px;
    display: inline-block;
    margin-top: 15px;
}

.banner .banner_center .banner_center_btn a:nth-of-type(1){
    background: url(./img/ia_100000077.png) no-repeat -541px -297px;
	width: 12px;
	height: 22px;
    position: absolute;
    top: 10px;
}
.banner .banner_center .banner_center_btn a:nth-of-type(1):hover{
    background: url(./img/ia_100000077.png) no-repeat -541px -326px;
}

.banner .banner_center .banner_center_btn a:nth-of-type(2){
    background: url(./img/ia_100000077.png) no-repeat -554px -297px;
	width: 12px;
    height: 22px;
    position: absolute;
    top: 10px;
}

.banner .banner_center .banner_center_btn a:nth-of-type(2):hover{
    background: url(./img/ia_100000077.png) no-repeat -554px -326px;
}

.banner .banner_center .banner_center_cover-topleft{

}
.banner .banner_center .banner_center_cover-topright{
    
}
.banner .banner_center .banner_center_cover-bottomleft{
    
}
.banner .banner_center .banner_center_cover-bottomright{
    
}
/* banner-center end */

/* banner-right start */

.banner .banner_right{
    margin-top: 14px;
    margin-left: 12px;
}

/* banner-right end */